/* Farbschema (aufeinander abgestimmte Farben)
*   Dunkel: #272727
*   Grau:   #747474
*   Rot:    #FF652F
*   Gelb:   #FFE400
*   Grün:   #14A76C
*/


/* Hintergrundfarbe */
body{
    background-color:white;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    flex: 1;
    overflow: auto;
}

.h1{
    style text-align: center; 

}