/* Farbschema (aufeinander abgestimmte Farben)
*   Dunkel: #272727
*   Grau:   #747474
*   Rot:    #FF652F
*   Gelb:   #FFE400
*   Grün:   #14A76C
*/


/* Hintergrundfarbe */
body{
    background-color: #272727;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    flex: 1;
    overflow: auto;
}

#formTischnr{
    height: 80%;
    width: 80%;
    padding: 10%;
    text-align: center;
}

#formTischnr input{
    width: 100%;
    height: 20%;
    background-color: #747474;
    border: none;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    outline: none;
    margin: 2% 0 2% 0;
}

#formTischnr button{
    height: 5%;
    width: 30%;
    background-color: #14A76C;
    border: none;
}

#formTischnr p{
    font-size: 9vw;
    font-family: Helvetica, Arial, sans-serif;
    color: #14A76C;
    margin: 0;
}

.untenrechts img{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 5%;
}

.kopfzeile{
    height: 24px;
    width: 100%;
    background-color: #747474;
}

.kopfzeile p{ 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 3px 5px 2px 5px;
    font-weight: bold;
}
.kopfzeile .links{ 
    float: left;
    color: #FFE400;
}
.kopfzeile .rechts{ 
    float: right;
    color: #14A76C
}

.inhalt{
    height: 100%;
    margin-bottom: 35%;
    /*Murks vom feinsten, irgendwie muss man es noch hinbekommen dass der Inhalt nicht unter
    die Fußzeile rutscht. Der margin zum bottom verhindert das hier zwar aktuell, aber ob das
    auf jedem Gerät so ist (unterschiedliche Größen?)...*/
}

.artikel{
    width: 24%;
    margin: 0.5%;
    /*background-color: #747474;*/
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
    position: relative;
}

.artikel .bezeichnung{    
    font-size: 23px;
    font-weight: bold;
    padding: 4px 0 2px 0;
}
.artikel .menge{
    font-size: 18px;
    font-weight: bold;
}
.artikel .preis{
    font-size: 14px;
    padding: 2px 0 4px 0;
}

.artikelfooter{
    width: 100%;
    background-color: #747474;
    bottom: 0;
    position: absolute;
    font-family: Helvetica, Arial, sans-serif;
}

.artikelfooter button{
    height: 50px;
    width: 30%;
    border: none;
    margin: 4px;
    font-weight: bold;
    font-size: 15px;
}

.artikelfooter .links{ 
    float: left;
    background-color: #FFE400;
}
.artikelfooter .rechts{ 
    float: right;
    background-color: #14A76C
}

.artikelfooter p{    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 4px 0 4px 4px;
}

.artikelfooter hr{
    border: 1px solid #272727;
    margin: 0;
}

.artikelAnzahl{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2px 0 2px 4px;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.liste{
    width: 100%;
    height: 46px;
    background-color: #747474;
    float: left; /*Damit die elemente erkannt werden muss das hier auch floaten*/
    margin: 10px 0 0px 0;
    padding: 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.listeRechts{
    float: right;
    
    padding-right: 3%;
}

.listeLinks{
    float: left;
    padding-left: 2%;
}

.liste p{
    margin: 0;
}

#btnauswahl{
    background-color: #FF652F;
}

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.836); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.rechner{
    text-align: center;
}

.rechner p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 10%;
}

.rechner input{
    width: 60%;
    height: 40px;
    font-size: 30px;
    text-align: center;
}